[env:lolin_d32]
src_build_flags=
    '-D WIFI_SSID="my-ssid"'
    '-D WIFI_PASSPHRASE="my-passphrase"'
    '-D MQTT_SERVER="server.domain"'
    '-D MQTT_PORT=1883'
    '-D SYSLOG_ENABLED=1'
    '-D SYSLOG_HOST="loghost"'
    '-D SYSLOG_PORT=514'
    '-D ROOM="garden"'
    '-D ALTITUDE=80'
    '-D RAIN_MONITOR=0'
    '-D BATTERY_MONITOR=0'